@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Do you want to hear a hillarious joke?</p>
    <a class="btn btn-primary" asp-page="Joke">Tell me a Joke</a>
</div>
